<template>
  <div id="app">
    <v-app id="inspire">
      <v-data-table
        :headers="headers"
        :items="desserts"
        dense
        hide-default-footer
        class="elevation-1"
      >
        <template slot="headerCell" slot-scope="props">
          <span slot="activator">
            {{ props.header.text }}
          </span>
            <span>
            {{ props.header.text }}
          </span>
        </template>
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.calories }}</td>
          <td class="text-xs-right">{{ props.item.fat }}</td>
          <td class="text-xs-right">{{ props.item.carbs }}</td>
          <td class="text-xs-right">{{ props.item.protein }}</td>
          <td class="text-xs-right">{{ props.item.iron }}</td>
        </template>
      </v-data-table>
    </v-app>
  </div>
</template>

<script>
export default {
  name: 'AdjacencyMatrix',
  props: {
    matrix: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      headers: [
        {
          text: '',
          align: 'left',
          sortable: false,
          value: 'name',
          width: '1%',
        },
        {
          align: 'left', sortable: false, text: '0', value: 'calories', width: '0.1%',
        },
        {
          align: 'left', sortable: false, text: '1', value: 'fat', width: '0.1%',
        },
        {
          align: 'left', sortable: false, text: '2', value: 'carbs', width: '0.1%',
        },
        {
          align: 'left', sortable: false, text: '3', value: 'protein', width: '0.1%',
        },
        {
          align: 'left', sortable: false, text: '4', value: 'iron', width: '0.1%',
        },
        {
          align: 'left', sortable: false, text: '', value: '',
        },
      ],
      desserts: [
        {
          value: false,
          name: '0',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: '1%',
        },
        {
          value: false,
          name: '1',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: '1%',
        },
        {
          value: false,
          name: '2',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: '7%',
        },
        {
          value: false,
          name: '3',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: '8%',
        },
        {
          value: false,
          name: '4',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: '16%',
        },
        {
          value: false,
          name: '5',
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: '0%',
        },
        {
          value: false,
          name: '6',
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: '2%',
        },
      ],
    };
  },
};
</script>

<style scoped>
  table.v-table tbody td:first-child,
  table.v-table tbody td:not(:first-child),
  table.v-table tbody th:first-child,
  table.v-table tbody th:not(:first-child),
  table.v-table thead td:first-child,
  table.v-table thead td:not(:first-child),
  table.v-table thead th:first-child,
  table.v-table thead th:not(:first-child) {
    padding: 0 10px
  }
</style>
