<template>
  <svg width="1000" height="500">
    <defs v-if="directed">
      <marker id="marker"
              viewBox="0 0 10 10"
              refX="0" refY="5"
              orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" />
      </marker>
    </defs>

    <path
      v-for="(item, i) in links"
      :key="i + 'p'"
      :d="item"
      :id="i"
      stroke="#000000"
      fill="none"
      stroke-width="2"
      marker-end="url(#marker)"
    />

    <g v-if="weighted">
      <g v-for="(item, i) in labels"
         :key="i + 'g'">
        <circle
          :cx="item.x"
          :cy="item.y"
          :id="item.index"
          r="10"
          :key="i + 'r'"
          fill="#fafafa"></circle>

        <text
          :x="item.x"
          :y="item.y"
          text-anchor="middle"
          alignment-baseline="central"
          :key="i + 'l'"
        >{{ item.z }}</text>
      </g>
    </g>

    <circle r="20"
            v-for="item in graph.nodes"
            :cx="item.xPosition"
            :cy="item.yPosition"
            :id="item.index"
            :key="item.index + 'c'"
            fill="#69b3a2"
    />
    <text
      v-for="(item, i) in graph.nodes"
      :x="item.xPosition"
      :y="item.yPosition"
      text-anchor="middle"
      alignment-baseline="central"
      :key="i + 'title'"
    >{{ item.index }}</text>
  </svg>
</template>

<script>
import * as d3 from 'd3';
import nodeMixin from '../../mixins/nodeMixin';
import EventBus from '../../services/EventBus';

export default {
  name: 'Graph',
  mixins: [nodeMixin],
  props: {
    dsName: {
      type: String,
      required: true,
    },
    graph: {
      type: Object,
      required: true,
    },
    directed: {
      type: Boolean,
      required: true,
    },
    weighted: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    links() {
      const list = [];
      this.graph.edges.forEach((item) => {
        list.push([item.u, item.v]);
      });
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.graphLinks = list.map((v) => {
        const l = d3
          .line()
          .x((vv) => vv.xPosition)
          .y((vv) => vv.yPosition);
        if (this.directed) {
          const ab = [v[1].xPosition - v[0].xPosition, v[1].yPosition - v[0].yPosition];
          const length = Math.sqrt((ab[0] ** 2) + (ab[1] ** 2));
          const abNorm = ab.map((item) => item / length);
          const distance = length - 35;

          // a + d * n
          // eslint-disable-next-line max-len
          const b = [v[0].xPosition + (distance * abNorm[0]), v[0].yPosition + (distance * abNorm[1])];

          const helpNode = [{
            xPosition: v[0].xPosition,
            yPosition: v[0].yPosition,
          },
          {
            xPosition: b[0],
            yPosition: b[1],
          },
          ];
          return l(helpNode);
        }
        return l(v);
      });
      return this.graphLinks;
    },
    labels() {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.labelPositions = this.graph.edges.map((item) => {
        const xCenter = (item.u.xPosition + item.v.xPosition) / 2;
        const yCenter = (item.u.yPosition + item.v.yPosition) / 2;

        const x = (xCenter + item.v.xPosition) / 2;
        const y = (yCenter + item.v.yPosition) / 2;

        const z = item.weight;
        return { x, y, z };
      });
      return this.labelPositions;
    },
  },
  mounted() {
    EventBus.$on('animationStep', this.animationStep);
  },
  beforeDestroy() {
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    animationStep(step) {
      step.forEach((item) => {
        this.highlightNode(item.do.elements, item.do.color);
      });
    },
  },
};
</script>

<style scoped>

</style>
