<template>
    <div class="expand-x-y" style="height: 100%; width: 100%; background-color: 'yellow';">
      <svg class="expand-x-y" id="wrapper">
        <defs>
          <marker id="marker"
                  viewBox="0 0 10 10"
                  refX="0" refY="5"
                  orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
        <g
          v-for="(item, i) in nodeList"
          :x="item.x"
          :y="item.y"
          :id="item.data.id"
          :key="'N' + i">
          <g
          v-for="i in tree.order*2"
          :key="'V' + i">
            <text v-if ="item.data.keys[i -1]!==undefined"
              :x="item.x + ((i -1) * rectWidth) + (rectWidth / 2)"
              :y="item.y + (rectWidth / 2)"
              fill="black"
              text-anchor="middle"
              alignment-baseline="central"
            >{{ item.data.keys[i-1] }}</text>
            <rect
              :width="rectWidth"
              :height="rectWidth"
              :style="`fill: ${Color.BASE_COLOR_TREE};
              stroke: black; 
              fill-opacity: 0.5;`"
              :x="item.x + ((i-1) * rectWidth)"
              :y="item.y"
            >
            </rect>
          </g>
        </g>
        <path
          v-for="(item, i) in linkList"
          class="trans"
          :key="i + 'l'"
          :d="item"
          stroke="#000000"
          fill="none"
          stroke-width="2"
        />
        <g v-if="dsName === 'b+tree'">
          <path
            v-for="(item, i) in nodeConnectionList"
            class="trans"
            :key="i + 'p'"
            :d="item"
            :id="i"
            stroke="#000000"
            fill="none"
            stroke-width="2"
            marker-end="url(#marker)"
          />
        </g>
      </svg>
    </div>
  </template>
  
  <script>
  import * as d3 from 'd3';
  import { cloneDeep } from 'lodash';
  import EventBus from '../../services/EventBus';
  import TreeUtils from '../../utils/TreeUtils';
  import GraphAction from '../../utils/GraphAction';
  import BPlusTree from '../../algorithms/trees/BPlusWebAD1';
  import Color from '../../utils/Color';
  
  
  export default {
    name: 'BPlusTreeWebADComponent',
    props: {
      // tree: {
      //   type: Object,
      //   required: true,
      // },
      dsName: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        btree: null,
        algorithmRunning: false,
        rectWidth: 35,
        connectionPadding: 10,
        nodeList: null,
        linkList: null,
        nodeConnectionList: null,
        tree: null,
      };
    },
    created() {
      //this.updateTreeStructure();
    },
    mounted() {
      EventBus.$on('animationStep', this.animationStep);
      EventBus.$on('animationStarted', this.setAlgorithmRunning);
      EventBus.$on('animationStopped', this.setAlgorithmStopped);
      EventBus.$on('reloadDataStructure', this.updateTreeStructure);
    },
    beforeDestroy() {
      EventBus.$off('animationStep', this.animationStep);
      EventBus.$off('animationStarted', this.setAlgorithmRunning);
      EventBus.$off('animationStopped', this.setAlgorithmStopped);
      EventBus.$off('reloadDataStructure', this.updateTreeStructure);
    },
    computed: {
      Color() {
        return Color;
    },
    },
    methods: {
      forceUpdate(){
        this.$forceUpdate();
      },
      nodes() {
        const list = this.btree.descendants();
        this.nodeList = cloneDeep(list);
      },
      links() {
        this.linkList = this.btree.links()
          .map((link) => {
            const firstElement = link.target.data.keys[0];
            let i = 0;
            while (i < link.source.data.keys.length && link.source.data.keys[i] !== undefined) {
              if (firstElement < link.source.data.keys[i]) {
                break;
              }
              i += 1;
            }
            // edge needs to be in array form
            const helpNodeSource = {
              x: link.source.x + (i * this.rectWidth),
              y: link.source.y + this.rectWidth,
            };
  
            const helpNodeTarget = {
              // eslint-disable-next-line no-mixed-operators
              x: link.target.x + (link.target.data.keys.length * this.rectWidth / 2),
              y: link.target.y,
            };
  
            const helpEdge = [helpNodeSource, helpNodeTarget];
            const l = d3
              .line()
              .x((v) => v.x)
              .y((v) => v.y);
            // eslint-disable-next-line consistent-return
            return l(helpEdge);
          });
      },
      nodeConnections() {
        const leaves = this.btree.descendants().filter((item) => item.data.type === 2);
        this.nodeConnectionList = leaves.map((item, index, elements) => {
          const node = item.data;
          const next = elements[index + 1];
          if (next !== undefined) {
            const amountValue = node.keys.length;
            const helpNodeSource = {
              // eslint-disable-next-line no-mixed-operators
              x: item.x + (amountValue * this.rectWidth) + this.connectionPadding,
              y: item.y + this.rectWidth / 2,
            };
            const helpNodeTarget = {
              // eslint-disable-next-line no-mixed-operators
              x: next.x - this.connectionPadding,
              y: next.y + this.rectWidth / 2,
            };
  
            const helpEdge = [helpNodeSource, helpNodeTarget];
            const l = d3
              .line()
              .x((v) => v.x)
              .y((v) => v.y);
            return l(helpEdge);
          }
          return null;
        });
      },
      updateTreeStructure(root = 0) {
        // eslint-disable-next-line no-param-reassign
        root = root === 0 || undefined ? this.tree.root : root;
  
        // eslint-disable-next-line consistent-return
        const hierarchy = d3.hierarchy(root, (d) => {
            return d.pointers;
          });
      const divElement = document.getElementById('wrapper');
  	  const divHeight = divElement.clientHeight;
      const divWidth = divElement.clientWidth;
      const treeLayout = d3.tree().size([divWidth,divHeight-(this.rectWidth+80)]);
        this.btree = treeLayout(hierarchy);
        this.nodes();
        this.links();
        //this.nodeConnections();
        this.clearNodes();
      },
      animationStep(action) {
        switch (action.action) {
          case GraphAction.HIGHLIGHT_NODE:
            this.clearNodes();
            this.highlightNode(action.elements, action.color);
            break;
          case TreeUtils.UPDATE_TREE:
            this.tree = action.dataStructure;
            this.setSizeDynamic();
            this.updateTreeStructure(this.tree.root);
            this.clearNodes();
            //this.forceUpdate();
            break;
          default:
        }
      },
      highlightNode(element, color) {
        d3.select(`#${element}`).selectAll('rect').style('stroke', color).style('fill', color);
      },
      clearNodes() {
        d3.selectAll('rect').style('stroke', 'black').style('fill', `${Color.BASE_COLOR_TREE}`);
        
      },
      setAlgorithmRunning(value) {
        this.algorithmRunning = value;
      },
      setAlgorithmStopped(value) {
        this.algorithmRunning = value;
      },
      setSizeDynamic(){
        const height = this.tree.getHeight();
        if(height > 1 && this.tree.order >1 ){
          this.rectWidth = 25;
          return;
        }
        if(height > 2 && this.tree.order > 1){
          this.rectWidth = 20;
          return;
        }
        if(height > 3 && this.tree.order === 1)
        {
          this.rectWidth = 20;
          return;
        }
        else{
          this.rectWidth = 35;}
      }
    },
  };
  </script>
  
  <style scoped>
  .expand-x-y {
    height: 100%;
    width: 100%;
  }
  </style>
  