<template>
  <div class="expand-x-y">
    <svg class="expand-x-y">
      <defs>
        <marker id="marker"
                viewBox="0 0 10 10"
                refX="0" refY="5"
                orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" />
        </marker>
      </defs>
      <g
        v-for="(item, i) in nodeList"
        :x="item.x"
        :y="item.y"
        :id="item.data.id"
        :key="'N' + i">
        <g
        v-for="(value, i) in item.data.values"
        :key="'V' + i">
          <text
            v-if="i < item.data.used || dsName !== 'b+tree'"
            :x="item.x + (i * rectWidth) + (rectWidth / 2)"
            :y="item.y + (rectWidth / 2)"
            fill="black"
            text-anchor="middle"
            alignment-baseline="central"
          >{{ value }}</text>
          <rect
            :width="rectWidth"
            :height="rectWidth"
            :style="`fill: ${Color.BASE_COLOR_TREE};
              stroke: black; 
              fill-opacity: 0.5;`"
            :x="item.x + (i * rectWidth)"
            :y="item.y"
          >
          </rect>
        </g>
      </g>
      <path
        v-for="(item, i) in linkList"
        class="trans"
        :key="i + 'l'"
        :d="item"
        stroke="#000000"
        fill="none"
        stroke-width="2"
      />
      <g v-if="dsName === 'b+tree'">
        <path
          v-for="(item, i) in nodeConnectionList"
          class="trans"
          :key="i + 'p'"
          :d="item"
          :id="i"
          stroke="#000000"
          fill="none"
          stroke-width="2"
          marker-end="url(#marker)"
        />
      </g>
    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3';
import { cloneDeep } from 'lodash';
import EventBus from '../../services/EventBus';
import TreeUtils from '../../utils/TreeUtils';
import GraphAction from '../../utils/GraphAction';
import Color from '../../utils/Color';

export default {
  name: 'IndexTree',
  props: {
    // tree: {
    //   type: Object,
    //   required: true,
    // },
    dsName: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      btree: null,
      algorithmRunning: false,
      rectWidth: 25,
      connectionPadding: 10,
      nodeList: null,
      linkList: null,
      nodeConnectionList: null,
      tree: null,
    };
  },
  created() {
    
  },
  mounted() {
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('animationStarted', this.setAlgorithmRunning);
    EventBus.$on('animationStopped', this.setAlgorithmStopped);
    EventBus.$on('reloadDataStructure', this.updateTreeStructure);
  },
  beforeDestroy() {
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('animationStarted', this.setAlgorithmRunning);
    EventBus.$off('animationStopped', this.setAlgorithmStopped);
    EventBus.$off('reloadDataStructure', this.updateTreeStructure);
  },
  computed: {
    Color() {
        return Color;
    },
  },
  methods: {
    nodes() {
      const list = this.btree.descendants();
      this.nodeList = cloneDeep(list);
    },
    links() {
      this.linkList = this.btree.links()
        .map((link) => {
          const firstElement = link.target.data.values[0];
          let i = 0;
          while (i < link.source.data.values.length && link.source.data.values[i] !== undefined) {
            if (firstElement < link.source.data.values[i]) {
              break;
            }
            i += 1;
          }
          // edge needs to be in array form
          const helpNodeSource = {
            x: link.source.x + (i * this.rectWidth),
            y: link.source.y + this.rectWidth,
          };

          const helpNodeTarget = {
            // eslint-disable-next-line no-mixed-operators
            x: link.target.x + (link.target.data.values.length * this.rectWidth / 2),
            y: link.target.y,
          };

          const helpEdge = [helpNodeSource, helpNodeTarget];
          const l = d3
            .line()
            .x((v) => v.x)
            .y((v) => v.y);
          // eslint-disable-next-line consistent-return
          return l(helpEdge);
        });
    },
    nodeConnections() {
      const leaves = this.btree.descendants().filter((item) => item.data.type === 2);
      this.nodeConnectionList = leaves.map((item, index, elements) => {
        const node = item.data;
        const next = elements[index + 1];
        if (next !== undefined) {
          const amountValue = node.values.length;
          const helpNodeSource = {
            // eslint-disable-next-line no-mixed-operators
            x: item.x + (amountValue * this.rectWidth) + this.connectionPadding,
            y: item.y + this.rectWidth / 2,
          };
          const helpNodeTarget = {
            // eslint-disable-next-line no-mixed-operators
            x: next.x - this.connectionPadding,
            y: next.y + this.rectWidth / 2,
          };

          const helpEdge = [helpNodeSource, helpNodeTarget];
          const l = d3
            .line()
            .x((v) => v.x)
            .y((v) => v.y);
          return l(helpEdge);
        }
        return null;
      });
    },
    updateTreeStructure(root = 0) {
      // eslint-disable-next-line no-param-reassign
      root = root === 0 || undefined ? this.tree.root : root;

      // eslint-disable-next-line consistent-return
      const hierarchy = d3.hierarchy(root, (d) => {
        if (this.dsName === 'b+tree') {
          if (d !== undefined) {
            const { length } = d.children;
            if (!(length)) {
              return null;
            }
            if (d.children.includes(undefined)) {
              // eslint-disable-next-line consistent-return
              return d.children.filter((item) => item !== null);
            }
            return d.children.filter((item,i)=> i<=d.used);
          }
        } else {
          return d.children;
        }
      });
      const treeLayout = d3.tree()
        .size([1000, 300]);
      this.btree = treeLayout(hierarchy);
      this.nodes();
      this.links();
      this.nodeConnections();
    },
    animationStep(action) {
      switch (action.action) {
        case GraphAction.HIGHLIGHT_NODE:
          this.highlightNode(action.elements, action.color);
          break;
        case TreeUtils.UPDATE_TREE:
          console.log("Update tree");
          this.tree = action.dataStructure;
          this.updateTreeStructure(this.tree.root);
          this.clearNodes();
          break;
        default:
      }
    },
    highlightNode(element, color) {
      this.clearNodes();
      d3.select(`#${element}`).selectAll('rect').style('stroke', color).style('fill', color);;
    },
    clearNodes() {
      d3.selectAll('rect').style('stroke', 'black').style('fill', `${Color.BASE_COLOR_TREE}`);
    },
    setAlgorithmRunning(value) {
      this.algorithmRunning = value;
    },
    setAlgorithmStopped(value) {
      this.algorithmRunning = value;
    },
  },
};
</script>

<style scoped>
.expand-x-y {
  height: 100%;
  width: 100%;
}
</style>
