<template>
<!-- The outer div is needed because it is only possible to retrieve the dimensions in px from -->
<!-- a 100% width/height div, not from a 100% width/height svg element. -->
  <div class="expand-x-y" id="wrapper">
    <svg class="expand-x-y" id="hashTableSvg">
      <defs>
        <marker id="arrowHead" refX="6" refY="6" markerWidth="30" markerHeight="30" orient="auto">
          <path d="M 0 0 12 6 0 12 3 6" style="fill: black;"></path>
        </marker>
      </defs>
      <g v-for="(value, index) in list" :key="index" :id="'group'+index">
        <rect
          :id="'rect'+index"
          :x="xScale(index)"
          :y="yScale(value.value)"
          :width="cellWidth"
          :height="cellHeight"
          :style="`fill: ${color.BASE_COLOR_HASH_TABLE};
          stroke: black;
          transition-duration: ${transitionDuration}ms;`"
        />
        <text
          :id="'text'+index"
          :style="`font-size: 14px;
          text-anchor: end;
          font-family: Roboto, sans-serif;
          transform: translate(${xScale(index)+cellWidth-5}px, ${yScale(value.value)+17}px);
          transition-duration: ${transitionDuration}ms;`"
        >{{value.occupied ? value.value : null}}</text>
      </g>
    </svg>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      elevation="100"
      color="dark grey"
    >
      {{ infoMessage }}
    </v-snackbar>
  </div>
</template>

<script>
import * as d3 from 'd3';
import EventBus from '../../services/EventBus';
import color from "../../utils/Color";

export default {
  name: 'HashTable',
  data: () => ({
    list: [],
    svgWidth: 0, // will be automatically updated
    svgHeight: 0, // will be automatically updated
    cellWidth: 70,
    cellHeight: 25,
    timeout: 5000,
    snackbar: false,
    infoMessage: '',
  }),
  mounted() {
    this.addResizeListener();
    this.resize();
    EventBus.$on('animationStep', this.animationStep);
  },
  beforeDestroy() {
    this.removeResizeListener();
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    addResizeListener() {
      window.addEventListener('resize', this.resize);
    },
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    resize() {
      setTimeout(() => {
        this.svgWidth = document.getElementById('wrapper').offsetWidth;
        this.svgHeight = document.getElementById('wrapper').offsetHeight;
        this.render();
      }, 5);
    },
    render() {
      // todo: this should be used to rerender everything rendered by d3 on resize.
    },
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    createLinearList(action) {
      const size = parseInt(action.size, 10);
      this.list = [];
      for (let i = 0; i < size; i += 1) {
        this.list.push({
          index: i,
          occupied: false,
          value: null,
          extraCheck: false,
        });
      }
    },
    deleteLinearList(action) {
      this.list = [];
    },
    setColor(action) {
      d3.select(`#rect${action.index}`)
        .style('fill', action.color);
    },
    setValue(action) {
      const selection = d3
        .select('svg#hashTableSvg')
        .select(`#text${action.index}`);

      if (this.list[action.index].occupied === true) {
        // cell has visible value
        selection
          .style('opacity', 0) // fade out previous value
          //.transition(this.transition)
          //.delay(this.transitionDuration)
          .text(action.value) // set new value
          .style('opacity', 1); // fade in new value
      } else {
        // cell is visibly empty
        selection
          .style('transition-duration', 0) // remove transition that is already on the text
          .style('opacity', 0) // instantly set opacity
          //.transition(this.transition)
          .text(action.value) // set new value
          .style('opacity', 1) // fade in new value
          .style('transition-duration', `${this.transitionDuration}ms`);
      }

      this.list[action.index].occupied = action.value !== null;
      this.list[action.index].value = action.value;

      // alternatively let d3 render the new text:

      // const index = 0;
      // const value = 69;

      // const x = this.xScale(index) + this.cellWidth - 5;
      // const y = this.yScale(value) + 17;

      // d3.select('svg')
      //   .append('text')
      //   .attr('id', `text${4}`)
      //   .style('text-anchor', 'end')
      //   .style('font-size', '14px')
      //   .style('font-family', 'Roboto, sans-serif')
      //   .style('transform', `translate(${x}px, ${y}px)`)
      //   .style('opacity', 0)
      //   .text('69')
      //   .transition(this.transition)
      //   .style('opacity', 1);
    },
    setPointer(action) {
      d3.select('svg#hashTableSvg')
        .append('line')
        .attr('class', 'pointer')
        .attr('id', `pointer${action.index}`)
        .attr('x1', this.xScale(action.index) + this.cellWidth / 2)
        .attr('y1', this.yScale(action.index) - 50)
        .attr('x2', this.xScale(action.index) + this.cellWidth / 2)
        .attr('y2', this.yScale(action.index) - 20)
        .attr('marker-end', 'url(#arrowHead)')
        //.transition(this.transition)
        .attr('stroke-width', 1)
        .attr('stroke', 'black');
    },
    unsetPointer(action) {
      // clear all pointers or just the given pointer
      const selector = action.index === null ? 'line.pointer' : `line#pointer${action.index}`;
      d3.select('svg#hashTableSvg')
        .selectAll(selector)
        //.transition(this.transition)
        .style('opacity', 0)
        .remove();
    },
    movePointer(action) {
      // moves all existing pointers to a single new position
      d3.select('svg#hashTableSvg')
        .selectAll('line.pointer')
        //.transition(this.transition)
        .attr('x1', this.xScale(action.index) + this.cellWidth / 2)
        .attr('y1', this.yScale(action.index) - 50)
        .attr('x2', this.xScale(action.index) + this.cellWidth / 2)
        .attr('y2', this.yScale(action.index) - 20)
        .attr('id', `pointer${action.index}`);
    },
    setExtraCheck(action) {
      this.list[action.index].extraCheck = true;
      const x = this.xScale(action.index) + this.cellWidth / 2 - 12;
      const y = this.yScale(action.index) + this.cellHeight + 5;
      d3.select('svg#hashTableSvg')
        .append('path')
        .attr('id', `alert${action.index}`)
        .attr('class', 'alert')
        .attr('width', 24)
        .attr('height', 24)
        .attr('viewBox', '0 0 24 24')
        .attr('d', 'M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z')
        .attr('transform', `translate(${x},${y})`)
        .style('opacity', 0)
        //.transition(this.transition)
        .style('opacity', '.54');
    },
    unsetExtraCheck(action) {
      // remove all or only the given alert icon
      const selector = action.index === null ? 'path.alert' : `path#alert${action.index}`;
      d3.select('svg#hashTableSvg')
        .selectAll(selector)
        //.transition(this.transition)
        .style('opacity', 0)
        .remove();
    },
    noop(action){
      this.infoMessage = action.text;
      this.snackbar = true;
    }
  },
  computed: {
    xScale() {
      // This scale will put all elements directly next to each other, centered on the drawing area.
      const spaceAround = (index) => {
        const offset = (this.svgWidth - this.list.length * this.cellWidth) / 2;
        return offset + index * this.cellWidth;
      };
      // This scale places the element at the beginning of its segment
      // cells will look shifted to the left
      // centering is used to center the cell in the center of its segment
      const spaceBetween = (index) => {
        const pos = (this.svgWidth / this.list.length) * index;
        const centering = (this.svgWidth / this.list.length) / 2 - this.cellWidth / 2;
        return pos + centering;
      };
      return spaceAround;
    },
    yScale() {
      const top = (value) => 0;
      const center = (value) => this.svgHeight / 2 - this.cellHeight;
      const bottom = (value) => this.svgHeight - this.cellHeight;
      return center;
    },
    transition() {
      return d3.transition()
        .duration(this.transitionDuration)
        .ease(d3.easeQuad);
    },
    transitionDuration() {
      // transitionDuration is half of the duration of one step
      const stepsPerSecond = this.$store.getters.animationSpeed;
      return 1000 / (stepsPerSecond * 2);
    },
    color() {
      return color;
    },
  },
};
</script>

<style scoped>
.expand-x-y {
  height: 100%;
  width: 100%;
}
</style>
