<template>
  <div class="expand-x-y" id="wrapper">
    <svg class="expand-x-y" :style="{ height: svgHeight + 'px' }" @mousemove="updatePosition">
      <defs>
        <marker id="arrowHead" refX="12" refY="6" markerWidth="30" markerHeight="30" orient="auto">
          <path d="M 0 0 12 6 0 12 3 6" style="fill: black;"></path>
        </marker>
      </defs>

      <!-- Render cells based on rows and columns -->
      <g v-for="(row, rowIndex) in rows" :key="'row_' + rowIndex"
         v-if="mainRows.some(mainRow => mainRow.points === rowIndex)">
        <!-- Rendering only if mainRows has a row that points to the row in rows -->

        <rect
          :x="xScale()"
          :y="yScale(rowIndex) - miniCellHeight"
          :width="miniCellWidth"
          :height="miniCellHeight"
          :style="`fill: white; stroke: black;`"
        />
        <text
          :x="xScaleText() - 16"
          :y="yScaleText(rowIndex) - 22"
          :style="`text-anchor: middle; fill: #333333; font-family: Roboto, sans-serif;
              transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
        >{{ row.localDepth }}
        </text>
        <!-- Text displaying value within the cell -->
        <g v-for="(cell, colIndex) in row" :key="'cell_' + colIndex">
          <!-- Rect representing each cell -->
          <rect
            :x="xScale(colIndex)"
            :y="yScale(rowIndex)"
            :width="cellWidth"
            :height="cellHeight"
            :style="`fill: ${cell.color}; stroke: black;
              transition-duration: ${transitionDuration}ms;`"
            @mouseover="showBinaryValue(cell.value)"
            @mouseleave="hoveredValue = null"
          />
          <!-- Text displaying value within the cell -->
          <text
            :x="xScaleText(colIndex)"
            :y="yScaleText(rowIndex)"
            :style="`text-anchor: middle; fill: #333333; font-family: Roboto, sans-serif;
              transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
          >{{ cell.value }}
          </text>
        </g>
      </g>

      <!--check if mainrows created otherwise vue rendered too early and scale returns nan values -->
      <g v-if="mainRows.length > 0" :key="'globalDepth_'">
        <rect
          :x="xScaleMain()"
          :y="yScaleMain() - miniCellHeight"
          :width="miniCellWidth"
          :height="miniCellHeight"
          :style="`fill: white; stroke: black;`"
        />
        <text
          :x="xScaleMainText() - 16"
          :y="yScaleMainText() - 22"
          :style="`text-anchor: middle; fill: #333333; font-family: Roboto, sans-serif;
      transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms;
      alignment-baseline: middle;`"
        >{{ mainRows.globalDepth }}
        </text>
      </g>

      <g v-for="(cell, rowIndex) in mainRows" :key="'mainRow_' + rowIndex">
        <!-- Rect representing each cell -->
        <rect
          :x="xScaleMain()"
          :y="yScaleMain(rowIndex)"
          :width="cellWidth"
          :height="cellHeight"
          :style="`fill: ${cell.color}; stroke: black;
              transition-duration: ${transitionDuration}ms;`"
        />
        <!-- Text displaying value within the cell -->
        <text
          :x="xScaleMainText()"
          :y="yScaleMainText(rowIndex)"
          :style="`text-anchor: middle; fill: #333333; font-family: Roboto, sans-serif;
              transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
        >{{ cell.value }}
        </text>
        <line
          :x1="line(rowIndex, cell.points).x1"
          :y1="line(rowIndex, cell.points).y1"
          :x2="line(rowIndex, cell.points).x2"
          :y2="line(rowIndex, cell.points).y2"
          stroke="black"
          stroke-dasharray="5 3"
          marker-end="url(#arrowHead)"
          :style="`transition-duration: ${transitionDuration}ms;`"
        />
      </g>

    </svg>
    <div v-if="hoveredValue !== null"
         :style="{ top: mouseY + 'px', left: mouseX + 'px', position: 'absolute' }">
      <div class="hovered-value-container">
        0b{{ hoveredValue }}
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../../services/EventBus';
import Color from '../../utils/Color';

export default {
  name: 'HashTableLinearHashing',
  data: () => ({
    // Data properties for hash table
    svgWidth: 0,
    svgHeight: 0,
    cellWidth: 50,
    cellHeight: 30,
    miniCellWidth: 16,
    miniCellHeight: 17,
    horizontalGap: 100,
    transitionDuration: 300,
    rows: [],
    mainRows: [],
    maxCols: 0,
    distanceToTop: 50,
    distanceToBottom: 50,
    hoveredValue: null,
    mouseX: 0,
    mouseY: 0,
  }),
  // Lifecycle hook: executed after the component has been added to the DOM
  mounted() {
    this.addResizeListener();
    this.resize();

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  // Lifecycle hook: executed just before a component is destroyed
  destroyed() {
    this.removeResizeListener();

    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    // Add event listener for window resize
    addResizeListener() {
      window.addEventListener('resize', this.resize);
    },
    // Remove event listener for window resize
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    // Resize method to update SVG dimensions
    resize() {
      this.$data.svgWidth = document.getElementById('wrapper').offsetWidth;
      const numMainRowsWithGaps = (this.mainRows.length * 2) - 1;
      this.$data.svgHeight = numMainRowsWithGaps * this.cellHeight + this.distanceToTop + this.distanceToBottom;
    },
    // Placeholder for zoom in method
    zoomIn() {
    },
    // Placeholder for zoom out method
    zoomOut() {
    },
    // Handle animation steps received through EventBus
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
      this.resize();
      this.$forceUpdate();
    },
    // Method to create a list of rows in the hash table
    createList(action) {
      this.rows = [];
      this.mainRows = [];
      this.maxCols = action.cols;
      this.addMainRowsToList(action);
      this.addRowsToList(action);
      this.resize();
      // Anpassung der SVG-Höhe basierend auf der Anzahl der Zeilen und Zellhöhe
      // this.$data.svgHeight = (action.rows + (action.rows - 1)) * this.cellHeight + this.distanceToTop;
    },
    addRowsToList(action) {
      const numRows = action.rows; // Anzahl der Zeilen (Y-Achse)

      for (let y = this.rows.length; y < numRows; y += 1) {
        const row = [];
        for (let x = 0; x < this.maxCols; x += 1) {
          row.push({
            value: null,
            color: Color.BASE_COLOR_HASH_TABLE,
          });
        }
        row.localDepth = 1;
        this.rows.push(row);
      }
    },
    addMainRowsToList(action) {
      const numRows = action.rows;

      for (let y = this.mainRows.length; y < numRows; y += 1) {
        this.mainRows.push({
          value: null,
          color: Color.BASE_COLOR_HASH_TABLE,
          points: action.pointsMap[y],
        });
      }
      this.mainRows.globalDepth = action.globalDepth;
    },
    removeMainRowsFromList(action) {
      for (let i = 0; i < action.rows; i += 1) {
        this.mainRows.pop();
      }
      this.mainRows.globalDepth = action.globalDepth;
    },
    updateLinkAtPos(action) {
      for (let i = 0; i < this.mainRows.length; i += 1) {
        this.mainRows[i].points = action.pointsMap[i];
      }
    },
    removeRowsFromList(action) {
      for (let i = 0; i < action.rows; i += 1) {
        this.rows.pop();
      }
    },
    // Method to delete the list of rows in the hash table
    deleteList(action) {
      this.rows.length = 0;
    },
    // Method to insert a value at a specific position in a row's bucket
    insertValueAtPos(action) {
      this.rows[action.row][action.col].value = action.value;
    },
    // Method to remove a value at a specific position from a row's bucket
    removeValueAtPos(action) {
      this.rows[action.row][action.col].value = null;
    },
    removeValuesOfRow(action) {
      for (let i = this.rows[action.row].length - 1; i >= 0; i -= 1) {
        this.rows[action.row][i].value = null;
        if (i >= this.maxCols) {
          this.rows[action.row].pop();
        }
      }
    },
    updateValuesOfRow(action) {
      if (this.rows[action.row] !== undefined) {
        for (let i = 0; i < this.maxCols; i += 1) {
          this.rows[action.row][i].value = action.values[i];
        }
        this.rows[action.row].localDepth = action.localDepth;
      }
    },
    insertValuesOfRow(action) {
      const rowIndex = action.row;
      for (let i = 0; i < action.values.length; i += 1) {
        if (this.rows[action.row][i] === undefined) {
          for (let j = 0; j < this.maxCols; j += 1) {
            this.rows[rowIndex].push({
              value: null,
              color: Color.BASE_COLOR_HASH_TABLE,
            });
          }
          this.resize();
        }
        if (this.rows[action.row][i] === undefined) {
        }
        this.rows[action.row][i].value = action.values[i];
      }
    },

    // Method to set the value of a specific row
    setRowValue(action) {
      for (let i = 0; i < this.mainRows.length; i += 1) {
        this.mainRows[i].value = action.bucketIndexes[i];
      }
    },
    // Method to set the color of a specific row
    setRowColor(action) {
      if (action.rowType === 'directory') {
        this.mainRows[action.row].color = action.color;
      } else if (action.rowType === 'buckets') {
        this.rows[action.pointToRow][action.col].color = action.color;
      }
    },
    highlightBucketRow(action) {
      for (let i = 0; i < action.pointToRowMap.length; i += 1) {
        for (let j = 0; j < this.maxCols; j += 1) {
          this.rows[action.pointToRowMap[i]][j].color = action.color;
        }
      }
    },
    // Method to set the stroke width of a specific cell (element in a bucket)
    setCellStrokeWidth(action) {
      this.rows[action.row].bucket[action.col].strokeWidth = action.value;
    },
    showBinaryValue(value) {
      this.hoveredValue = value !== null ? value.toString(2) : null;
    },
    updatePosition(event) {
      this.mouseX = event.clientX + 30;
      this.mouseY = event.clientY - 70;
    },
  },
  computed: {
    // Computed properties are used to define derived data that depends on the existing data of the component.
    // They are automatically updated whenever the underlying data they depend on changes.

    // Compute of filteredRows to filter out rows where mainRows does not point to
    filteredRows() {
      return this.rows.filter((row, rowIndex) => {
        // Filter function for this.rows
        return this.mainRows.some((mainRow) => {
          // Check if at least one element in this.mainRows satisfies the condition
          return mainRow.points === rowIndex;
          // Compare the index of the mainRow element with the rowIndex
        });
      });
    },
    // Compute xScale for positioning elements horizontally in the hash table
    xScale() {
      return (colIndex = 0) => {
        const totalWidth = this.maxCols * this.cellWidth;
        const startX = (this.svgWidth - totalWidth) / 2;

        const spacing = parseInt(colIndex / this.maxCols, 10);
        return startX + (colIndex + spacing) * this.cellWidth;
      };
    },

    xScaleMain() {
      return (colIndex = 0) => (this.xScale(colIndex) - this.cellWidth) - this.horizontalGap;
    },

    // Compute yScale for positioning elements vertically in the hash table
    yScale() {
      return (rowIndex) => {
        const numRows = this.rows.length;
        const startY = this.distanceToTop;

        return startY + rowIndex * this.cellHeight * 2;
      };
    },

    yScaleMain() {
      return (rowIndex = 0) => {
        const numRows = this.rows.length;
        const numMainRowsWithGaps = (this.mainRows.length * 2) - 1;
        const startY = this.distanceToTop;
        const gapForCentering = ((numMainRowsWithGaps - numRows) / 2);

        return startY + this.cellHeight * gapForCentering + rowIndex * this.cellHeight;
      };
    },

    // Text be placed left next to rectangle
    xScaleTextNextToBox() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth - 55;
    },
    // Compute xScaleText for positioning text horizontally in the hash table
    xScaleText() {
      return (colIndex = 0) => (this.xScale(colIndex) + this.cellWidth / 2);
    },
    xScaleMainText() {
      return () => (this.xScaleMain() + this.cellWidth / 2);
    },
    // Compute yScaleText for positioning text vertically in the hash table
    yScaleText() {
      return (rowIndex = 0) => this.yScale(rowIndex) + this.cellHeight / 2;
    },
    yScaleMainText() {
      return (rowIndex = 0) => this.yScaleMain(rowIndex) + this.cellHeight / 2;
    },
    // Compute line for drawing lines connecting rows to their buckets
    line() {
      return (fromMainRow, toRow) => {
        // x1 defines the start point of the line on the x-axis
        // y1 defines the start point of the line on the y-axis
        const x1 = this.xScaleMain() + this.cellWidth;
        const y1 = this.yScaleMain(fromMainRow) + this.cellHeight / 2;

        // x2 defines the end point of the line on the x-axis
        // y2 defines the end point of the line on the y-axis
        const x2 = this.xScale();
        const y2 = this.yScale(toRow) + this.cellHeight / 2;

        return {
          x1,
          y1,
          x2,
          y2,
        };
      };
    },
  },
};
</script>

<style scoped>
.expand-x-y {
  height: 100%;
  width: 100%;
}

.hovered-value-container {
  background-color: white; /* Hintergrundfarbe auf weiß setzen */
  padding: 5px; /* Einen Abstand um den Text hinzufügen */
}
</style>
