<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveTraverseInput :boxes="[]" ds-name="bst"/>
    </div>
    <div class="drawing-area">
      <BinaryTree/>
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import BinaryTree from '../../components/trees/BinaryTree.vue';
import InsertSearchRemoveTraverseInput from '../../components/InsertSearchRemoveTraverseInput.vue';
import EventBus from '../../services/EventBus';
import TreeUtils from '../../utils/TreeUtils';
import BinarySearchTree
  from '../../algorithms/trekhleb/src/data-structures/tree/binary-search-tree/BinarySearchTree';
import controlHandlers from '../../mixins/controlHandlers';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import ValueType from '../../utils/ValueType';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';

export default {
  name: 'BinarySearchTree',
  data: () => ({
    dataStructure: null,
  }),
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    BinaryTree,
    InsertSearchRemoveTraverseInput,
  },
  created() {
    this.initTree();
  },
  mounted() {
    this.registerListeners();
    EventBus.$on('insertValue', this.insertValue);
    EventBus.$on('searchValue', this.findValue);
    EventBus.$on('removeValue', this.removeValue);
    EventBus.$on('traverse', this.traverse);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('insertValue', this.insertValue);
    EventBus.$off('searchValue', this.findValue);
    EventBus.$off('removeValue', this.removeValue);
    EventBus.$off('traverse', this.traverse);
    EventBus.$off('loadValues', this.loadValues);
  },
  methods: {
    initTree() {
      this.dataStructure = new BinarySearchTree();
    },
    insertValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];

      const stepGroupArray = [];
      if(!(this.isatStepsGroupEnd())){
          this.dataStructure = this.getCurrentDataStructure();
          this.cutStepGroup();
        }

      for (const value of valueArray) {
        let undoStructure = cloneDeep(this.dataStructure);
        this.dataStructure.insert(parseInt(value, 10));

        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setValue(parseInt(value, 10));

        stepGroup.setSteps(this.addDataStructureToActions(this.dataStructure.getActions()));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);

        // this.pushValueToStore(parseInt(value, 10));

        stepGroupArray.push(stepGroup);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    removeValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];

      const stepGroupArray = [];
      if(!(this.isatStepsGroupEnd())){
          this.dataStructure = this.getCurrentDataStructure();
          this.cutStepGroup();
        }

      for (const value of valueArray) {
        let undoStructure = cloneDeep(this.dataStructure);
        this.dataStructure.remove(parseInt(value, 10));
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setSteps(this.addDataStructureToActions(this.dataStructure.getActions()));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);

        // this.removeValueFromStore(parseInt(value, 10));

        stepGroupArray.push(stepGroup);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    findValue(value) {
      if(!(this.isatStepsGroupEnd())&& value!==undefined){
          this.cutStepGroup();
        }
      this.dataStructure.contains(parseInt(value, 10));
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(parseInt(value, 10));
      stepGroup.setSteps(this.dataStructure.getActions());
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        this.dataStructure = new BinarySearchTree();
        valueWrapper.values.forEach((item) => {
          this.dataStructure.insert(item);
        });
        // EventBus.$emit('reloadDataStructure', this.dataStructure.root);
        const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
          };
        this.clearAnimation();
        EventBus.$emit('animationStep', step);
        this.$store.commit('setValueList', [...valueWrapper.values]);
        // this.$store.commit('setCurrentValues', [...valueWrapper]);
      }
    },
    traverse(type) {
      if(!(this.isatStepsGroupEnd())){
          this.cutStepGroup();
        }
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      switch (type) {
        case TreeUtils.INORDER:
          stepGroup.setSteps(this.dataStructure.inOrder());
          break;
        case TreeUtils.POSTORDER:
          stepGroup.setSteps(this.dataStructure.postOrder());
          break;
        case TreeUtils.PREORDER:
          stepGroup.setSteps(this.dataStructure.preOrder());
          break;
        default:
          break;
      }
      EventBus.$emit('controlPlay', stepGroup);
    },
    addDataStructureToActions(steps){
        for(let i = 0; i < steps.length; i++){
            let action = steps[i];
            if(action.do && action.do.action === TreeUtils.UPDATE_TREE){
                action.do.dataStructure = cloneDeep(this.dataStructure);
            }
        }
        return steps;
    },
  },
};
</script>

<style scoped>
.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.outer .controls {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.outer .drawing-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
</style>
