<template>
    <div class="outer">
      <div class="controls">
        <InsertSearchRemoveInput :boxes="[]" :size="true"/>
      </div>
      <div class="drawing-area">
        <BPlusTreeWebADComponentVue  ds-name="b+tree"/>
      </div>
    </div>
  </template>
  
  <script>
  import { cloneDeep } from 'lodash';
  import BPlusTreeWebADComponentVue from '../../components/trees/BPlusTreeWebADComponent.vue';
  import InsertSearchRemoveInput from '../../components/InsertSearchRemoveInput.vue';
  import controlHandlers from '../../mixins/controlHandlers';
  import BPlusTree from '../../algorithms/trees/BPlusWebAD1';
  import EventBus from '../../services/EventBus';
  import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
  import TreeUtils from '../../utils/TreeUtils';
  import ValueType from '../../utils/ValueType';
  import StepGroup from '../../utils/StepGroup';
  import StepGroupType from '../../utils/StepGroupType';
  
  export default {
    name: 'BPlusTreeWebAD',
    mixins: [controlHandlers, dataStructureMixin],
    components: {
      BPlusTreeWebADComponentVue,
      InsertSearchRemoveInput,
    },
    data: () => ({
      dataStructure: null,
    }),
    created() {
    },
    mounted() {
      this.registerListeners();
      this.initTree();
      EventBus.$on('insertValue', this.insertValue);
      EventBus.$on('searchValue', this.findValue);
      EventBus.$on('removeValue', this.removeValue);
      EventBus.$on('setSize', this.setOrder);
      EventBus.$on('loadValues', this.loadValues);
    },
    beforeDestroy() {
      this.unregisterListeners();
      EventBus.$off('insertValue', this.insertValue);
      EventBus.$off('searchValue', this.findValue);
      EventBus.$off('removeValue', this.removeValue);
      EventBus.$off('setSize', this.setOrder);
      EventBus.$off('loadValues', this.loadValues);
    },
    methods: {
      initTree() {
        this.dataStructure = new BPlusTree(2);
        this.setK(2);
        const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
        };
        EventBus.$emit('animationStep', step);
      },
      setOrder(value) {
        let undoStructure = cloneDeep(this.dataStructure);
        this.dataStructure = new BPlusTree(parseInt(value, 10));
        const steps = [{
          do: {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
          },
          undo: {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: undoStructure,
          },
        }];
        const stepGroup = new StepGroup(StepGroupType.CREATE);
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);
        EventBus.$emit('controlPlay', stepGroup);
        this.$store.commit('clearValues');  
        this.setK(parseInt(value, 10));
      },
       insertValue(value) {
        const valueArray = Array.isArray(value) ? value : [value];
        if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
        const stepGroupArray = [];
        for (const value of valueArray) {
          const steps = [];
          this.dataStructure.search(value);
          let undoStructure = cloneDeep(this.dataStructure);
          steps.push(...this.dataStructure.getActions());
          this.dataStructure.addFixed(value);
           steps.push({
          do: {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
          },
          undo:{
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: undoStructure,
          },
        });
        this.dataStructure.search(value, true);
        steps.push(...this.dataStructure.getActions());  
        // this.pushValueToStore(parseInt(value, 10));
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setSteps(steps);
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);
        stepGroupArray.push(stepGroup);
        }
        EventBus.$emit('controlPlay', stepGroupArray);
      },
      removeValue(value) {
     
        const valueArray = Array.isArray(value) ? value : [value];
        const stepGroupArray = [];
        if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
        for (const value of valueArray) {
          const steps = [];
          this.dataStructure.search(value);
          steps.push(...this.dataStructure.getActions());
          let undoStructure = cloneDeep(this.dataStructure);
          this.dataStructure.remove(value);
           steps.push({
          do: {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
          },
          undo: {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: undoStructure,
          },
        });
      
        // this.removeValueFromStore(parseInt(value, 10));
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setSteps(steps);
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);
        stepGroupArray.push(stepGroup);
        }
         EventBus.$emit('controlPlay', stepGroupArray);
      },
      findValue(value) {
        if(!(this.isatStepsGroupEnd())&& value!==undefined){
          this.cutStepGroup();
        }
        this.dataStructure.search(parseInt(value, 10));
        const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
        stepGroup.setSteps(this.dataStructure.getActions());
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        EventBus.$emit('controlPlay', stepGroup);
      },
      loadValues(valueWrapper) {
        if (valueWrapper.type === ValueType.INTEGERS && valueWrapper.k >= 1) {
          this.dataStructure = new BPlusTree(valueWrapper.k);
          valueWrapper.values.forEach((item) => {
            this.dataStructure.addFixed(item);
          });
          const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
          };
          this.clearAnimation();
          EventBus.$emit('animationStep', step);
          this.$store.commit('setValueList', [...valueWrapper.values]);
          // this.$store.commit('setCurrentValues', [...valueWrapper]);
        }
      },
    },
  };
  </script>
  
  <style scoped>
    .outer {
      display: flex;
      flex-flow: column;
      height: 100%;
    }
  
    .outer .controls {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
    }
  
    .outer .drawing-area {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }
  </style>
  