<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInput :boxes="[]" :size="true"/>
    </div>
    <div class="drawing-area">
      <IndexTree :key="componentKey" :tree="dataStructure" ds-name="b+tree"/>
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import IndexTree from '../../components/trees/IndexTree.vue';
import InsertSearchRemoveInput from '../../components/InsertSearchRemoveInput.vue';
import controlHandlers from '../../mixins/controlHandlers';
import BPlusTree from '../../algorithms/trees/BPlusTree';
import EventBus from '../../services/EventBus';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import TreeUtils from '../../utils/TreeUtils';
import ValueType from '../../utils/ValueType';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';

export default {
  name: 'BPlusTree',
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    IndexTree,
    InsertSearchRemoveInput,
  },
  data: () => ({
    dataStructure: null,
  }),
  created() {
    this.initTree();
  },
  mounted() {
    this.registerListeners();
    EventBus.$on('insertValue', this.insertValue);
    EventBus.$on('searchValue', this.findValue);
    EventBus.$on('removeValue', this.removeValue);
    EventBus.$on('setSize', this.setOrder);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('insertValue', this.insertValue);
    EventBus.$off('searchValue', this.findValue);
    EventBus.$off('removeValue', this.removeValue);
    EventBus.$off('setSize', this.setOrder);
    EventBus.$off('loadValues', this.loadValues);
  },
  methods: {
    initTree() {
      this.dataStructure = new BPlusTree(2);
      this.setK(2);
    },
    setOrder(value) {
      this.dataStructure = new BPlusTree(parseInt(value, 10));
      const steps = [{
        do: {
          action: TreeUtils.UPDATE_TREE,
          elements: this.dataStructure.root,
        },
      }];
      const stepGroup = new StepGroup(StepGroupType.CREATE);
      stepGroup.setValue(parseInt(value, 10));
      stepGroup.setSteps(steps);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);

      this.setK(parseInt(value, 10));
    },
    insertValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];

      const stepGroupArray = [];

      for (const value of valueArray) {
        this.dataStructure.insert(parseInt(value, 10));

        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setSteps(this.dataStructure.getActions());
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));

        this.pushValueToStore(parseInt(value, 10));

        stepGroupArray.push(stepGroup);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    removeValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];

      const stepGroupArray = [];

      for (const value of valueArray) {
        this.dataStructure.delete(parseInt(value, 10));
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setSteps(this.dataStructure.getActions());
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));

        this.removeValueFromStore(parseInt(value, 10));

        stepGroupArray.push(stepGroup);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    findValue(value) {
      this.dataStructure.search(parseInt(value, 10));
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setSteps(this.dataStructure.getActions());
      stepGroup.setValue(parseInt(value, 10));
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS && valueWrapper.k > 1) {
        this.dataStructure = new BPlusTree(valueWrapper.k);
        valueWrapper.values.forEach((item) => {
          this.dataStructure.insert(item);
        });
        this.componentKey += 1;
        this.$store.commit('setValueList', [...valueWrapper.values]);
        // this.$store.commit('setCurrentValues', [...valueWrapper]);
      }
    },
  },
};
</script>

<style scoped>
  .outer {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .outer .controls {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .outer .drawing-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
</style>
