<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInput :boxes="[]" :size="false"/>
    </div>
    <div class="drawing-area">
      <IndexTree  ds-name="234Tree"/>
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import IndexTree from '../../components/trees/IndexTree.vue';
import InsertSearchRemoveInput from '../../components/InsertSearchRemoveInput.vue';
import controlHandlers from '../../mixins/controlHandlers';
import EventBus from '../../services/EventBus';
import TwoThreeFour from '../../algorithms/trees/TwoThreeFour';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import ValueType from '../../utils/ValueType';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';
import TreeUtils from '../../utils/TreeUtils';

export default {
  name: 'TwoThreeFourTree',
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    IndexTree,
    InsertSearchRemoveInput,
  },
  data: () => ({
    dataStructure: null,
  }),
  created() {
    this.initTree();
  },
  mounted() {
    this.registerListeners();
    this.initTree();
    EventBus.$on('insertValue', this.insertValue);
    EventBus.$on('searchValue', this.findValue);
    EventBus.$on('removeValue', this.removeValue);
    EventBus.$on('traverse', this.traverse);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('insertValue', this.insertValue);
    EventBus.$off('searchValue', this.findValue);
    EventBus.$off('removeValue', this.removeValue);
    EventBus.$off('traverse', this.traverse);
    EventBus.$off('loadValues', this.loadValues);
  },
  methods: {
    initTree() {
      this.dataStructure = new TwoThreeFour();
      const step = {
            action: TreeUtils.UPDATE_TREE,
            dataStructure: cloneDeep(this.dataStructure),
        };
        EventBus.$emit('animationStep', step);
    },
    insertValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
      const stepGroupArray = [];
      for (const value of valueArray) {
        let undoStructure = cloneDeep(this.dataStructure);
        this.dataStructure.insert(parseInt(value, 10));
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setSteps(this.dataStructure.getActions());
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);
        // this.pushValueToStore(parseInt(value, 10));
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },
    removeValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
      const stepGroupArray = [];

      for (const value of valueArray) {
        let undoStructure = cloneDeep(this.dataStructure);
        this.dataStructure.remove(parseInt(value, 10));

        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setSteps(this.dataStructure.getActions());
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);

        // this.removeValueFromStore(parseInt(value, 10));

        stepGroupArray.push(stepGroup);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    findValue(value) {
      if(!(this.isatStepsGroupEnd())&& value!==undefined){
          this.cutStepGroup();
        }
      this.dataStructure.search(parseInt(value, 10));
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(parseInt(value, 10));
      stepGroup.setSteps(this.dataStructure.getActions());
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        this.dataStructure = new TwoThreeFour();
        valueWrapper.values.forEach((item) => {
          this.dataStructure.insert(item);
        });
        const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
          };
          this.clearAnimation();
          EventBus.$emit('animationStep', step);
        this.$store.commit('setValueList', [...valueWrapper.values]);
        // this.$store.commit('setCurrentValues', [...valueWrapper]);
      }
    },
  },
};
</script>

<style scoped>
  .outer {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .outer .controls {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .outer .drawing-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
</style>
