<template>
  <div>
    <NumberListInput :data="values"/>
    <div id="TablesHorizontal">
      <TablesHorizontal/>
    </div>
  </div>
</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import importSequence from '../../mixins/sortsImportExportMixin';
import NumberListInput from '../../components/NumberListInput.vue';
import TablesHorizontal from '../../components/sorts/TablesHorizontal.vue';
import getBinaryQuickSortSteps from '../../algorithms/sorts/BinaryQuickSort';
import ValueType from '../../utils/ValueType';
import EventBus from '../../services/EventBus';

export default {
  name: 'BinaryQuickSort',
  mixins: [controlHandlers, importSequence],
  components: {
    NumberListInput,
    TablesHorizontal,
  },
  data: () => ({
    values: [101, 1110, 1111, 111, 1100, 1010, 100, 1011, 1101, 110],
  }),
  mounted() {
    this.registerListeners();
    EventBus.$on('inputChange', this.setValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('inputChange', this.setValues);
  },
  methods: {
    getSteps() {
      return getBinaryQuickSortSteps(this.values);
    },
    setValues(values) {
      this.values = values;
      this.clearAnimation();
    },
    getValues() {
      return this.values;
    },
    getValueType() {
      return ValueType.INTEGERS;
    },
  },
};
</script>

<style>
#TablesHorizontal {
  height: calc(100% - 118px);
}
</style>
