<template>
  <div>
    <h1>MergeSort</h1>
  </div>
</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import getMergeSortSteps from '../../algorithms/sorts/MergeSort';

export default {
  name: 'MergeSort',
  mixins: [controlHandlers],
  components: {},
  data: () => ({
    list: [],
  }),
  mounted() {
    this.registerListeners();
  },
  beforeDestroy() {
    this.unregisterListeners();
  },
  methods: {
    getSteps() {
      return getMergeSortSteps(this.list);
    },
  },
};
</script>
