<template>
  <div>
    <NumberListInput :data="values"/>
    <div id="tablesHorizontal">
      <TablesHorizontal/>
    </div>
  </div>
</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import importSequence from '../../mixins/sortsImportExportMixin';
import NumberListInput from '../../components/NumberListInput.vue';
import TablesHorizontal from '../../components/sorts/TablesHorizontal.vue';
import getRadixSortSteps from '../../algorithms/sorts/RadixSort';
import ValueType from '../../utils/ValueType';
import EventBus from '../../services/EventBus';

export default {
  name: 'RadixSort',
  mixins: [controlHandlers, importSequence],
  components: {
    NumberListInput,
    TablesHorizontal,
  },
  data: () => ({
    values: [755, 234, 17, 574, 688, 313, 363, 258, 154, 651],
  }),
  mounted() {
    this.registerListeners();
    EventBus.$on('inputChange', this.setValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('inputChange', this.setValues);
  },
  methods: {
    getSteps() {
      return getRadixSortSteps(this.values);
    },
    setValues(values) {
      this.clearAnimation();
      this.values = values;
    },
    getValues() {
      return this.values;
    },
    getValueType() {
      return ValueType.INTEGERS;
    },
  },
};
</script>

<style>
#tablesHorizontal {
  height: calc(100% - 118px);
}
</style>
