<template>
  <div id="view-container">
    <NetworkAndTable
      :key="componentKey"
      ds-name="dijkstra"
      :graph=graph
      :directed=true
      :weighted=true>
    </NetworkAndTable>
  </div>

</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
//import Network from '../../components/graphs/Network.vue';
import Graph from '../../algorithms/trekhleb/src/data-structures/graph/Graph';
import GraphVertex from '../../algorithms/trekhleb/src/data-structures/graph/GraphVertex';
import GraphEdge from '../../algorithms/trekhleb/src/data-structures/graph/GraphEdge';
import graphImportExportMixin from '../../mixins/graphImportExportMixin';
import dijkstra from '../../algorithms/trekhleb/src/algorithms/graph/dijkstra/dijkstra';
//import NetworkAndTable from '../../components/graphs/NetworkAndTable.vue';
import NetworkAndTable from '../../components/graphs/NetworkAndTable.vue';

export default {
  name: 'Dijkstra',
  mixins: [controlHandlers, graphImportExportMixin],
  data() {
    return {
      graph: null,
    };
  },
  components: {
    NetworkAndTable,
  },
  mounted() {
    this.registerListeners();
  },
  beforeDestroy() {
    this.unregisterListeners();
  },
  created() {
    const vertexA = new GraphVertex('A');
    const vertexB = new GraphVertex('B');
    const vertexC = new GraphVertex('C');
    const vertexD = new GraphVertex('D');
    const vertexE = new GraphVertex('E');
    const vertexF = new GraphVertex('F');
    const vertexG = new GraphVertex('G');

    const edgeAB = new GraphEdge(vertexA, vertexB, 4);
    const edgeAE = new GraphEdge(vertexA, vertexE, 7);
    const edgeAC = new GraphEdge(vertexA, vertexC, 3);
    const edgeBC = new GraphEdge(vertexB, vertexC, 6);
    const edgeED = new GraphEdge(vertexE, vertexD, 2);
    const edgeDC = new GraphEdge(vertexD, vertexC, 11);
    const edgeDG = new GraphEdge(vertexD, vertexG, 10);
    const edgeDF = new GraphEdge(vertexD, vertexF, 2);
    const edgeFG = new GraphEdge(vertexF, vertexG, 3);
    const edgeAF = new GraphEdge(vertexA, vertexF, 100);


    this.graph = new Graph(true);
    this.graph
      .addVertex(vertexA)
      .addVertex(vertexB)
      .addVertex(vertexC)
      .addVertex(vertexD)
      .addVertex(vertexE)
      .addVertex(vertexF)
      .addVertex(vertexG)
      .addEdge(edgeAB)
      .addEdge(edgeAE)
      .addEdge(edgeAC)
      .addEdge(edgeBC)
      .addEdge(edgeED)
      .addEdge(edgeDC)
      .addEdge(edgeDG)
      .addEdge(edgeDF)
      .addEdge(edgeFG)
      .addEdge(edgeAF);
  },
  methods: {
    getSteps() {
      const actions = dijkstra(this.graph, this.graph.startVertex);
      return actions.actions;
    },
  },
};
</script>

<style scoped>
  #view-container {
    height: 100%;
  }
</style>
