<template>
  <div id="view-container">
    <Network
      :key="componentKey"
      ds-name="prim"
      :graph=graph
      :directed=false
      :weighted=true>
    </Network>
  </div>

</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import Graph from '../../algorithms/trekhleb/src/data-structures/graph/Graph';
import GraphVertex from '../../algorithms/trekhleb/src/data-structures/graph/GraphVertex';
import GraphEdge from '../../algorithms/trekhleb/src/data-structures/graph/GraphEdge';
import Network from '../../components/graphs/Network.vue';
import prim from '../../algorithms/trekhleb/src/algorithms/graph/prim/prim';
import graphImportExportMixin from '../../mixins/graphImportExportMixin';

export default {
  name: 'Prim',
  mixins: [controlHandlers, graphImportExportMixin],
  data() {
    return {
      graph: null,
    };
  },
  components: {
    Network,
  },
  mounted() {
    this.registerListeners();
  },
  beforeDestroy() {
    this.unregisterListeners();
  },
  created() {
    const vertexA = new GraphVertex('A');
    const vertexB = new GraphVertex('B');
    const vertexC = new GraphVertex('C');
    const vertexD = new GraphVertex('D');

    const edgeAB = new GraphEdge(vertexA, vertexB, 1);
    const edgeAD = new GraphEdge(vertexA, vertexD, 3);
    const edgeBC = new GraphEdge(vertexB, vertexC, 9);
    const edgeBD = new GraphEdge(vertexB, vertexD, 4);
    const edgeCD = new GraphEdge(vertexC, vertexD, 2);

    this.graph = new Graph();

    this.graph
      .addVertex(vertexA)
      .addVertex(vertexB)
      .addVertex(vertexC)
      .addVertex(vertexD)
      .addEdge(edgeAB)
      .addEdge(edgeAD)
      .addEdge(edgeBC)
      .addEdge(edgeBD)
      .addEdge(edgeCD);
  },
  methods: {
    getSteps() {
      return prim(this.graph);
    },
  },
};
</script>

<style scoped>
  #view-container {
    height: 100%;
  }
</style>
