<template>
  <v-toolbar height="64" bottom>

<!--    <v-spacer/>-->

<!--    <v-btn icon v-on:click="random">-->
<!--      <v-icon>mdi-shuffle</v-icon>-->
<!--    </v-btn>-->
<!--    <v-btn icon v-on:click="reset">-->
<!--      <v-icon>mdi-restart</v-icon>-->
<!--    </v-btn>-->

    <v-spacer/>

    <v-btn icon v-on:click="goToStart">
      <v-icon>mdi-skip-backward</v-icon>
    </v-btn>
    <v-btn icon v-on:click="stepBack">
      <v-icon>mdi-skip-previous</v-icon>
    </v-btn>
    <v-btn icon v-on:click="togglePlayPause" v-if="playing">
      <v-icon>mdi-pause</v-icon>
    </v-btn>
    <v-btn icon v-on:click="togglePlayPause" v-if="!playing">
      <v-icon>mdi-play</v-icon>
    </v-btn>
    <v-btn icon v-on:click="stepForward">
      <v-icon>mdi-skip-next</v-icon>
    </v-btn>
    <v-btn icon v-on:click="goToEnd">
      <v-icon>mdi-skip-forward</v-icon>
    </v-btn>

    <v-spacer/>

<!--    <v-btn icon v-on:click="zoomOut">-->
<!--      <v-icon>mdi-magnify-minus-outline</v-icon>-->
<!--    </v-btn>-->
<!--    <v-btn icon v-on:click="zoomIn">-->
<!--      <v-icon>mdi-magnify-plus-outline</v-icon>-->
<!--    </v-btn>-->

<!--    <v-spacer/>-->

  </v-toolbar>
</template>

<script>
import EventBus from '../services/EventBus';

export default {
  name: 'HeadingBar',
  data: () => ({
    playing: false,
  }),
  methods: {
    random() {
      EventBus.$emit('controlRandom');
    },
    reset() {
      EventBus.$emit('controlReset');
    },
    goToStart() {
      EventBus.$emit('controlGoToStart');
    },
    stepBack() {
      EventBus.$emit('controlStepBack');
    },
    togglePlayPause() {
      if (this.playing) {
        EventBus.$emit('controlPause');
      } else {
        EventBus.$emit('controlPlay');
      }
    },
    stepForward() {
      EventBus.$emit('controlStepForward');
    },
    goToEnd() {
      EventBus.$emit('controlGoToEnd');
    },
    zoomIn() {
      EventBus.$emit('controlZoomIn');
    },
    zoomOut() {
      EventBus.$emit('controlZoomOut');
    },
    setPlaying() {
      this.playing = true;
    },
    setPaused() {
      this.playing = false;
    },
  },
  mounted() {
    EventBus.$on('animationStarted', this.setPlaying);
    EventBus.$on('animationStopped', this.setPaused);
  },
  beforeDestroy() {
    EventBus.$off('animationStarted', this.setPlaying);
    EventBus.$off('animationStopped', this.setPaused);
  },
};
</script>

<style scoped>
</style>
