<template>
  <v-alert outlined prominent :type="type">
    <div class="title">No Data Structure selected</div>
    <div>Please select one of your saved data structures in the file manager to the left or
      create a new data structure by selecting one of them in the menu above.</div>
  </v-alert>
</template>

<script>
export default {
  name: 'EmptyState',
  data: () => ({
    type: 'info',
  }),
};
</script>

<style scoped>

</style>
