<template>
  <v-toolbar height="64" elevation="1">

    <v-toolbar-title>{{ dsGroup }} / {{ dsName }}</v-toolbar-title>

    <v-spacer/>

    <template v-if="$vuetify.breakpoint.smAndUp">

      <v-btn icon @click="toggleInfoMaterialSidebarVisible">
        <v-tooltip bottom open-delay="600">
          <template v-slot:activator="{ on }">
            <v-icon v-on="on">mdi-information</v-icon>
          </template>
          <span>Info Material</span>
        </v-tooltip>
      </v-btn>

      
      <v-btn icon @click="toggleImportExportDrawer">
        <v-tooltip bottom open-delay="600">
          <template v-slot:activator="{ on }">
            <v-icon v-on="on">mdi-import</v-icon>
          </template>
          <span>Import/Export</span>
        </v-tooltip>
      </v-btn>
      
      <v-btn icon v-on:click="saveDialog = true">
        <v-tooltip bottom open-delay="600">
          <template v-slot:activator="{ on }">
            <v-icon v-on="on">mdi-content-save</v-icon>
          </template>
          <span>Save</span>
        </v-tooltip>
      </v-btn>
    </template>

    <v-dialog
      v-model="saveDialog"
      max-width="300px"
      max-height="100px"
      @keydown.esc="saveDialog = false">
      <v-card>
        <v-card-title>
          <span class="headline">Enter name</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-text-field v-model="name" label="Name"></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="saveDialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveValues">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-toolbar>
</template>

<script>
import EventBus from '../services/EventBus';
import ValueWrapper from '../utils/ValueWrapper';



export default {
  name: 'HeadingBar',
  props: {
    dsGroup: {
      type: String,
      required: true,
    },
    dsName: {
      type: String,
      required: true,
    },
    importExportSidebarVisible: {
      type: Boolean,
      required: true,
    },
    infoMaterialSidebarVisible: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      saveDialog: false,
      name: '',
      currentValue: null,
    };
  },
  methods: {
    saveValues() {
      this.saveDialog = false;

      // only for graphs
      EventBus.$emit('setCurrentValues');
      this.valueWrapper = this.$store.getters.currentValue;
      this.valueWrapper.setName(this.name);

      this.$store.dispatch('addInputFile', {
        name: this.name,
        valueWrapper: this.valueWrapper,
      })
        .then(() => {
          EventBus.$emit('reloadNavigationDrawer');
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleImportExportDrawer() {
      this.$emit('toggle-import-export-drawer', !this.importExportSidebarVisible);
    },
    toggleInfoMaterialSidebarVisible() {
      this.$emit('toggle-info-material-siderbar-visible', !this.infoMaterialSidebarVisible);
    },
  },
};
</script>

<style scoped>
</style>
