<template>
  <v-container>
    <v-row dense>
      <v-col v-for="(item, index) in boxes" :key="index">
        <v-card class="mx-auto" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title v-html="item.title" class="headline mb-1"></v-list-item-title>
              <v-list-item-title class="headline">
                {{item.additionalTitleFirst}}
              </v-list-item-title>
              <v-list-item-title class="headline">
                {{item.additionalTitleSecond}}
              </v-list-item-title>
              <v-list-item-title class="headline">
                {{item.additionalTitleThird}}
              </v-list-item-title>
              <v-list-item-subtitle>{{item.subtitle}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <v-toolbar dense flat>
          <v-text-field
            outlined
            dense
            hide-details
            autofocus
            clearable
            v-model="value"
            :disabled="disabled.input"
            label="Type ..."/>
          <v-btn v-if="size" text height="40" color="primary"
                 :loading="loading.setSize"
                 :disabled="disabled.setSize"
                 @click="setSizeButton">set size</v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.insert"
                 :disabled="disabled.insert"
                 @click="insertValueButton">insert</v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.search"
                 :disabled="disabled.search"
                 @click="searchValueButton">search</v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.remove"
                 :disabled="disabled.remove"
                 @click="removeValueButton">remove</v-btn>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import EventBus from '../services/EventBus';

export default {
  name: 'InsertSearchRemoveInputLinearHashing',
  props: {
    boxes: {
      type: Array,
      default: () => ([
        {
          title: 'Size: 4',
          subtitle: 'The size of the hash table indicates the maximum number of values the table can hold. It is also used in the hash function.',
        },
        {
          title: 'Hash function: value % size',
          subtitle: 'The hash function is the function used to calculate the position of the element that is to be inserted in the hash table.',
        },
        {
          title: 'Fill Rate: 25 %',
          subtitle: 'The fill rate indicates how much of the hash table is filled.',
        },
      ]),
    },
    size: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data: () => ({
    value: '',
    selected: '',
    disabled: {
      input: false,
      setSize: false,
      insert: false,
      search: false,
      remove: false,
    },
    loading: {
      input: false,
      setSize: false,
      insert: false,
      search: false,
      remove: false,
    },
  }),
  mounted() {
    EventBus.$on('animationStopped', this.clearLoading);
  },
  beforeDestroy() {
    EventBus.$off('animationStopped', this.clearLoading);
  },
  methods: {
    getValue() {
      if (/\s/.test(this.value)) {
        return this.value
          .trim()
          .split(' ')
          .filter((e) => e.length !== 0)
          .map((e) => parseInt(e, 10));
      }
      const result = parseInt(this.value, 10);
      console.log(`entered value: ${result}`);
      return parseInt(this.value, 10);
    },
    setSizeButton() {
      this.loading.setSize = true;
      EventBus.$emit('setSize', this.getValue());
    },
    insertValueButton() {
      this.loading.insert = true;
      EventBus.$emit('insertValue', this.getValue());
    },
    searchValueButton() {
      this.loading.search = true;
      EventBus.$emit('searchValue', this.getValue());
    },
    removeValueButton() {
      this.loading.remove = true;
      EventBus.$emit('removeValue', this.getValue());
    },
    clearLoading() {
      this.loading.input = false;
      this.loading.setSize = false;
      this.loading.insert = false;
      this.loading.search = false;
      this.loading.remove = false;
    },
  },
  watch: {
    loading: {
      handler(newLoading) {
        // if any element is loading, all (other) elements should be disabled.
        // if no element is loading, no element should be disabled.
        const anyLoading = Object.values(newLoading).some((value) => value === true);
        this.disabled.input = anyLoading;
        this.disabled.setSize = anyLoading;
        this.disabled.insert = anyLoading;
        this.disabled.search = anyLoading;
        this.disabled.remove = anyLoading;
      },
      deep: true, // deep watcher also watches changes within the watched object
    },
    value(newValue) {
      this.disabled.setSize = !/^[\d ]+$/.test(newValue);
      this.disabled.insert = !/^[\d ]+$/.test(newValue);
      this.disabled.search = !/^[\d ]+$/.test(newValue);
      this.disabled.remove = !/^[\d ]+$/.test(newValue);
    },
  },
};
</script>

<style scoped>
  .v-text-field {
    width: 0;
  }
</style>
