<template>
  <v-container>
    <v-row dense>
      <v-col v-for="(item, index) in boxes" :key="index">
        <v-card class="mx-auto" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">{{ item.title }}</v-list-item-title>
              <v-list-item-title class="headline">
                <span v-if="item.additionalTitleFirst"
                      v-html="formatTextRed(item.additionalTitleFirst)"></span>
              </v-list-item-title>
              <v-list-item-title class="headline">
                <span v-if="item.additionalTitleSecond"
                      v-html="formatTextBlue(item.additionalTitleSecond)"></span>
              </v-list-item-title>
              <v-list-item-title class="headline">
                {{ item.additionalTitleThird }}
              </v-list-item-title>
              <v-list-item-subtitle>
                <span v-if="item.subtitle"
                      v-html="formatSubtitle(item.subtitle) "></span></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <v-toolbar dense flat>
          <v-text-field
            outlined
            dense
            hide-details
            autofocus
            clearable
            v-model="value"
            :disabled="setInputDisabledSate()"
            label="Type ..."/>
          <v-btn
            v-if="visible.showIndexSize"
            text
            height="40"
            color="primary"
            :loading="loading.setSize"
            :disabled="disabled.setSize || loading.insert || loading.search || loading.remove"
            @click="setSizeButton"
          >
            set IndexSize
          </v-btn>
          <v-btn
            v-if="visible.showEntrySize"
            text
            height="40"
            color="primary"
            :loading="loading.setSize"
            :disabled="disabled.setEntrySize || loading.insert || loading.search || loading.remove"
            @click="setEntrySizeButton"
          >
            set EntrySize
          </v-btn>
          <v-btn
            v-if="visible.showBucketSize"
            text
            height="40"
            color="primary"
            :loading="loading.setSize"
            :disabled="disabled.setBucketSize || loading.insert || loading.search || loading.remove"
            @click="setBucketSizeButton"
          >
            set BucketSize
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.insert"
                 :disabled="disabled.insert"
                 @click="insertValueButton">insert
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.search"
                 :disabled="disabled.search"
                 @click="searchValueButton">search
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.remove"
                 :disabled="disabled.remove"
                 @click="removeValueButton">remove
          </v-btn>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import EventBus from '../services/EventBus';

export default {
  name: 'InsertSearchRemoveInputLinearHashing',
  props: {
    boxes: {
      type: Array,
      default: () => ([
        {
          title: 'Size: 4',
          subtitle: 'The size of the hash table indicates the maximum number of values the table can hold. It is also used in the hash function.',
        },
        {
          title: 'Hash function: value % size',
          subtitle: 'The hash function is the function used to calculate the position of the element that is to be inserted in the hash table.',
        },
        {
          title: 'Fill Rate: 25 %',
          subtitle: 'The fill rate indicates how much of the hash table is filled.',
        },
      ]),
    },
    size: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data: () => ({
    value: '',
    selected: '',
    disabled: {
      input: true,
      setSize: false,
      setEntrySize: false,
      setBucketSize: false,
      insert: false,
      search: false,
      remove: false,
    },
    loading: {
      input: false,
      setSize: false,
      setEntrySize: false,
      setBucketSize: false,
      insert: false,
      search: false,
      remove: false,
    },
    visible: {
      showIndexSize: true,
      showEntrySize: false,
      showBucketSize: false,
    },
    initData: {
      indexSize: null,
      entrySize: null,
      bucketSize: null,
    },
    lastSelectedButton: null,
  }),
  mounted() {
    EventBus.$on('animationStopped', this.clearLoading);
  },
  beforeDestroy() {
    EventBus.$off('animationStopped', this.clearLoading);
  },
  methods: {
    getValue() {
      if (/\s/.test(this.value)) {
        return this.value
          .trim()
          .split(' ')
          .filter((e) => e.length !== 0)
          .map((e) => parseInt(e, 10));
      }
      const result = parseInt(this.value, 10);
      return parseInt(this.value, 10);
    },
    setSizeButton() {
      if (this.validateSizeInput(this.getValue(), 'Indexdepth: For a good representation of Biseh choose a Value<4. Max. 5', 5)) {
        this.visible.showEntrySize = true;
        this.visible.showIndexSize = false;
        this.disabled.insert = true;
        this.disabled.remove = true;
        this.disabled.search = true;
        this.lastSelectedButton = 'setSize';
        this.setInputDisabledSate();
        this.initData.indexSize = this.getValue();
      }
    },
    setEntrySizeButton() {
      if (this.validateSizeInput(this.getValue(), 'EntryDepth: For a good representation of Biseh choose a Value<4. Max. 5', 5)) {
        this.visible.showBucketSize = true;
        this.visible.showEntrySize = false;
        this.disabled.insert = true;
        this.disabled.search = true;
        this.disabled.remove = true;
        this.lastSelectedButton = 'setEntrySize';
        this.setInputDisabledSate();
        this.initData.entrySize = this.getValue();
      }
    },
    setBucketSizeButton() {
      this.loading.setBucketSize = true;
      this.initData.bucketSize = this.getValue();
      EventBus.$emit('setSize', this.initData);

      this.lastSelectedButton = 'setBucketSize';
      this.setInputDisabledSate();
      this.visible.showIndexSize = true;
      this.visible.showBucketSize = false;
      this.$set(this.disabled, 'setSize', false);
    },
    insertValueButton() {
      this.loading.insert = true;
      EventBus.$emit('insertValue', this.getValue());
    },
    searchValueButton() {
      this.loading.search = true;
      EventBus.$emit('searchValue', this.getValue());
    },
    removeValueButton() {
      this.loading.remove = true;
      EventBus.$emit('removeValue', this.getValue());
    },
    clearLoading() {
      this.loading.input = false;
      this.loading.setSize = false;
      this.loading.insert = false;
      this.loading.search = false;
      this.loading.remove = false;
    },
    formatTextRed(text) {
      return text.replace(/([^=]+)(=|\^([^\]]+))/g, (_, beforeEqual, dynamicPart) => {
        if (dynamicPart.startsWith('^')) {
          return `<span style="color: black;">${beforeEqual}</span><span style="color: red;">${dynamicPart}</span>`;
        } else {
          return `<span style="color: red;">${beforeEqual}</span>${dynamicPart}`;
        }
      });
    },
    formatTextBlue(text) {
      return text.replace(/([^=]+)(=|\^([^\]]+))/g, (_, beforeEqual, dynamicPart) => {
        if (dynamicPart.startsWith('^')) {
          return `<span style="color: black;">${beforeEqual}</span><span style="color: dodgerblue;">${dynamicPart}</span>`;
        } else {
          return `<span style="color: dodgerblue;">${beforeEqual}</span>${dynamicPart}`;
        }
      });
    },
    formatSubtitle(text) {
      return text.replace(/(= y:\s*\d+)(.*?)(x:\s*\d+)/g, (_, yPart, middlePart, xPart) => {
        return `<span style="color: dodgerblue;">${yPart}</span>${middlePart}<span style="color: red;">${xPart}</span>`;
      });
    },
    setInputDisabledSate() {
      if (this.lastSelectedButton === 'setSize' || this.lastSelectedButton === 'setEntrySize') {
        this.disabled.remove = true;
        this.disabled.insert = true;
        this.disabled.search = true;
      } else if (this.lastSelectedButton === 'setBucketSize') {
        this.disabled.remove = false;
        this.disabled.insert = false;
        this.disabled.search = false;
      }
    },
    validateSizeInput(value, message, comparer) {
      if (value > comparer) {
        this.showAlert(message);
        return false;
      }
      return true;
    },
    showAlert(message) {
      alert(message);
    },
  },
  watch: {
    loading: {
      handler(newLoading) {
        // if any element is loading, all (other) elements should be disabled.
        // if no element is loading, no element should be disabled.
        const anyLoading = Object.values(newLoading).some((value) => value === true);
        this.disabled.input = anyLoading;
        this.disabled.setSize = anyLoading;
        this.disabled.insert = anyLoading;
        this.disabled.search = anyLoading;
        this.disabled.remove = anyLoading;
      },
      deep: true, // deep watcher also watches changes within the watched object
    },
    value(newValue) {
      const isValidInputMoreNumbers = /^[\d\s]*$/.test(newValue);
      const isValidInputOneNumber = /^[\d]*$/.test(newValue);
      this.disabled.setSize = !isValidInputOneNumber;
      this.disabled.setEntrySize = !isValidInputOneNumber;
      this.disabled.setBucketSize = !isValidInputOneNumber;
      this.disabled.insert = !isValidInputMoreNumbers;
      this.disabled.search = !isValidInputOneNumber;
      this.disabled.remove = !isValidInputMoreNumbers;

    },
  },
};
</script>

<style scoped>
.v-text-field {
  width: 0;
}
</style>
