<template>
  <v-container>
    <v-text-field
      v-model="inputNumbers"
      :rules="inputNumbersRules"
      label="List numbers separated by spaces"
      required
    ></v-text-field>
  </v-container>
</template>

<script>
import EventBus from '../services/EventBus';

export default {
  name: 'NumberListInput',
  props: {
    data: Array,
  },
  data: () => ({
    inputNumbers: '',
    inputNumbersRules: [
      (v) => !!v || 'This field is required',
      (v) => /^[\d\s]+$/.test(v) || 'Only numbers and spaces allowed',
    ],
  }),
  mounted() {
    this.inputNumbers = this.data.join(' ');
    EventBus.$on('valuesLoaded', this.updateData);
  },
  beforeDestroy() {
    EventBus.$off('valuesLoaded', this.updateData);
  },
  watch: {
    inputNumbers(newInput) {
      if(this.inputNumbersRules.every(rule => rule(newInput) === true)){
        const data = newInput
        .split(' ')
        .filter((number) => number !== '')
        .map((number) => parseInt(number, 10));
      EventBus.$emit('inputChange', data);
      }
    },
  },
  methods: {
    updateData(values) {
      this.inputNumbers = values.join(' ');
    },
  },
};
</script>
