<template>
  <v-dialog v-model="dialog" width="600" @keydown.esc="dialog = false">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" icon>
        <v-icon>mdi-cog</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Settings
      </v-card-title>

      <v-card-title>Animation Speed</v-card-title>
      <v-card-text>
        <v-slider
          class="pa-b0"
          v-model="rawAnimationSpeed"
          :tick-labels="animationSpeedTicksLabels"
          min="-2"
          max="2"
          ticks="always"
          tick-size="4"
          inverse-label
          label="steps/s"
        />
      </v-card-text>

<!--      <v-card-title>Auto Play (Hash Tables & Trees)</v-card-title>-->

<!--      <v-card-text>-->
<!--        <v-container>-->
<!--          <v-row>-->
<!--            <v-col cols="4">-->
<!--              <v-switch v-model="autoPlay.onCreate" label="On Create"/>-->
<!--            </v-col>-->
<!--            <v-col cols="4">-->
<!--              <v-switch v-model="autoPlay.onInsert" label="On Insert"/>-->
<!--            </v-col>-->
<!--            <v-col cols="4">-->
<!--              <v-switch v-model="autoPlay.onSearch" label="On Search"/>-->
<!--            </v-col>-->
<!--            <v-col cols="4">-->
<!--              <v-switch v-model="autoPlay.onRemove" label="On Remove"/>-->
<!--            </v-col>-->
<!--            <v-col cols="4">-->
<!--              <v-switch v-model="autoPlay.onTraverse" label="On Traverse"/>-->
<!--            </v-col>-->
<!--          </v-row>-->
<!--        </v-container>-->
<!--      </v-card-text>-->

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="resetSettings">Reset</v-btn>
        <v-btn color="primary" text @click="dialog = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'SettingsDialog',
  data: () => ({
    dialog: false,
    rawAnimationSpeed: null,
    animationSpeedTicksLabels: [0.25, 0.5, 1, 2, 4],
  }),
  mounted() {
    this.rawAnimationSpeed = Math.log2(this.$store.getters.animationSpeed);
  },
  methods: {
    resetSettings() {
      this.rawAnimationSpeed = 1;
    },
  },
  computed: {
    autoPlay() {
      return this.$store.getters.autoPlay;
    },
  },
  watch: {
    rawAnimationSpeed(to) {
      this.$store.dispatch('setRawAnimationSpeed', to);
    },
    autoPlay: {
      deep: true,
      handler(to) {
        this.$store.dispatch('setAutoPlay', to);
      },
    },
  },
};
</script>

<style scoped>
.pa-b0 {
  padding-bottom: 0 !important;
}
</style>
