<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInput :boxes="infoBoxes"/>
    </div>
    <div class="drawing-area">
      <HashTableBISEH/>
    </div>
  </div>
</template>

<script>
import {cloneDeep} from 'lodash';
import InsertSearchRemoveInput from '@/components/InsertSearchRemoveInputBISEH.vue';
import HashTableBISEH from '@/components/hashes/HashTableBISEH.vue';
import EventBus from '@/services/EventBus';
import dataStructureMixin from '@/mixins/dataStructureImportExportMixin';
import StepGroup from '@/utils/StepGroup';
import StepGroupType from '@/utils/StepGroupType';
import ValueType from '@/utils/ValueType';
import controlHandlers from '../../mixins/controlHandlers';
import BISEH from "@/algorithms/hashes/BISEH";
import CoalescedHashing from "@/algorithms/hashes/CoalescedHashing";

export default {
  name: 'BISEH',
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    HashTableBISEH,
    HashTable: HashTableBISEH,
    InsertSearchRemoveInput,
  },
  data: () => ({
    infoBoxes: [
      {
        additionalTitleFirst: 'x= IndexSize [2^x]: N/A',
        additionalTitleSecond: 'y= EntrySize [2^y]: N/A',
        additionalTitleThird: 'b= Bucket Size: N/A',
      },
      {
        title: 'Hash Calculation:',
        subtitle: 'The hash function is the function used to calculate the position of the element that is to be inserted in the hash table.',
      },
      {
        title: 'Information:',
        subtitle: '',
      },
    ],
    dataStructure: null,
    indexSize: null,
    entrySize: null,
    bucketSize: null,
    information: '',
    hashCalculation: 'Hash Calculation: N/A',
  }),

  mounted() {
    //controlHandlers
    this.registerListeners();
    this.init();
    // Events from InsertSearchRemoveInput
    EventBus.$on('setSize', this.setSizeEvent);
    EventBus.$on('insertValue', this.insertValueEvent);
    EventBus.$on('searchValue', this.searchValueEvent);
    EventBus.$on('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('loadValues', this.loadValues);
  },

  beforeDestroy() {
    // controlHandlers
    this.unregisterListeners();

    // Events from InsertSearchRemoveInput
    EventBus.$off('setSize', this.setSizeEvent);
    EventBus.$off('insertValue', this.insertValueEvent);
    EventBus.$off('searchValue', this.searchValueEvent);
    EventBus.$off('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('loadValues', this.loadValues);
  },

  methods: {
    init() {
      this.dataStructure = new BISEH();
      const steps = this.dataStructure.init(1, 2, 2);
      for (const step of steps) {
        EventBus.$emit('animationStep', step.do);
      }
      this.createList(steps[0].do[0]);
      this.setInformationField(steps[0].do[1]);
      this.setIndex(1);
      this.setEntry(2);
      this.setBucket(2);
    },
    setSizeEvent(sizes) {
      if (!(this.isatStepsGroupEnd())) {
        this.cutStepGroup();
      }

      this.dataStructure = new BISEH();
      const steps = this.dataStructure.init(sizes.indexSize, sizes.entrySize, sizes.bucketSize);
      const stepGroup = new StepGroup(StepGroupType.CREATE);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroup.setValue(sizes);
      stepGroup.setSteps(steps);
      EventBus.$emit('controlPlay', stepGroup);
      //this.clearState();
      this.setIndex(sizes.indexSize);
      this.setEntry(sizes.entrySize);
      this.setBucket(sizes.bucketSize);
    },
    insertValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if (!(this.isatStepsGroupEnd()) && valueArray.length > 0) {
        this.cutStepGroup();
        if(this.isAtStepsGroupStart()){
          const index = this.dataStructure.getIndex();
          const entry = this.dataStructure.getEntry();
          const bucket = this.dataStructure.getBucketSize();
          this.dataStructure = new BISEH();
          this.dataStructure.init(index, entry, bucket);
        }
      }
      for (const value of valueArray) {
        const steps = this.dataStructure.insert(value);
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        //this.pushValueToStore(value);
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },


    searchValueEvent(value) {
      if (!(this.isatStepsGroupEnd()) && value !== undefined) {
        this.cutStepGroup();
      }
      const steps = this.dataStructure.search(value);
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(value);
      stepGroup.setSteps(steps);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);

    },
    removeValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if (!(this.isatStepsGroupEnd()) && valueArray.length > 0) {
        this.cutStepGroup();
      }

      for (const value of valueArray) {
        const steps = this.dataStructure.remove(value);
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        //this.removeValueFromStore(value);
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        this.dataStructure = new BISEH();
        const steps = [];
        steps.push(this.dataStructure.init(valueWrapper.index, valueWrapper.entry, valueWrapper.bucket));
        valueWrapper.values.forEach((item) => {
          steps.push(this.dataStructure.insert(item));
        });

        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setSteps(steps);
        EventBus.$emit('controlPlay', steps);
        EventBus.$emit('controlGoToEnd');

        this.loadStructure(steps);

        this.$store.commit('setCurrentValues', valueWrapper);
      }
    },
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    createList(action) {
      this.indexSize = action.indexDepth;
      this.entrySize = action.entryDepth;
      this.bucketSize = action.bucketSize;
    },
    setInformationField(action) {
      this.information = action.text;
    },
    setHashCalculation(action) {
      this.hashCalculation = action.text;
    }
  },

  watch: {
    indexSize(to) {
      const result = Math.pow(2, to);
      this.infoBoxes[0].additionalTitleFirst = `x= Index Size [2^${to}]: ${result}`;
    },
    entrySize(to) {
      const result = Math.pow(2, to);
      this.infoBoxes[0].additionalTitleSecond = `y= Entry Size [2^${to}]: ${result}`;
    },
    bucketSize(to) {
      this.infoBoxes[0].additionalTitleThird = `b= Bucket Size: ${to}`;
    },
    hashCalculation(to) {
      this.infoBoxes[1].subtitle = to;
    },
    information(to) {
      this.infoBoxes[2].subtitle = to;
    },
  },
};
</script>

<style scoped>
.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.outer .controls {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.outer .drawing-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
</style>
